    <div class="modal-body">
      <%= form_with(model: @user, url: user_update_approval_edit_month_path(@attendances), local: true, method: :patch) do |f| %>
        <% @attendances.each do |id, attendances| %>
          <% user = User.find(id) %>
          <div>
            <h3 class><%= "【#{user.name}からの勤怠変更申請】"%></h3>
            <table class="table table-bordered table-condensed" id="table-attendances">
              <thead>
                <tr>
                  <td>月</td>
                  <td>指示者確認㊞</td>
                  <td>変更</td>
                  <td>勤怠を確認する</td>
                </tr>
              </thead>
              
              <tbody>
                <% attendances.each do |attendance| %>
                  <%= f.fields_for "attendances[]", attendance do |at| %>
                    <tr>
                      <td><%= l(attendance.worked_on, format: :month_names) %></td>
                      <td><%= at.select :edit_status, ["なし", "申請中", "承認", "否認"], {include_blank: ""}, class: "form-control" %></td>
                      <td><%= at.check_box :edit_confirmation %></td>
                      <td><%= link_to "確認", approval_show_user_path(id: user.id, date: attendance.worked_on.beginning_of_month), class: "btn btn-primary btn-attendance" %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
      <% end %>
      <div class="center">
        <%= f.submit "変更を保存する", class: "btn btn-lg btn-primary" %>
      </div>
      <% end %>
    </div>