<% provide(:title, "All Users") %>
<% provide(:class_text, "user--edit") %>
<% provide(:button_text, "更新") %>

<div class="center">
  
<!-- 検索の有無で見出しの条件分岐 -->
  <h1>
    <% if params[:search] %>
      <%= "検索結果" %>
  </h1>
    <% else %>
      <%= "全てのユーザー" %>
    <% end %>
  </h1>
</div>

<!-- CSVインポートフォーム -->
<div class="container">
  <div class="col-md-4 csv-form">
    <%= form_tag(import_users_path, method: :post, multipart: :true) do %>
      <%= file_field_tag :csv_file, class: "form-control" %>
      <%= submit_tag "インポート", class: "btn btn-md btn-block btn-primary btn-attendance" %>
    <% end %>
  </div>
</div>
  
<!-- ユーザー検索フォーム -->
<div class="row container">
  <div class="col-md-4 col-md-offset-8" >
    <h5>ユーザー名検索</h5>
    <form class="form-inline" >
      <%= form_with url: users_path, method: :get, local: true do |f| %>
      <%= f.text_field :search, placeholder: 'キーワードを入力', class: "form-control" %>
      <%= f.submit '検索', :name => nil, class: "btn btn-md btn-primary btn-user" %>
      <%= link_to "リセット", users_path, class: "btn btn-md btn-primary btn-user" %>
    <% end %>
    
    </form>
  </div>
</div>

<!-- paginate -->
<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  
 <!--今ログインしているのは管理者かつ、今のユーザーがログインしているユーザー-->
 <div>
    <% @users.each do |user| %>
    <div>
      <div>
        <p><%= user.name %></p>
        <p> | 
          <% if current_user.admin? && !current_user?(user) %>
          <%= link_to "削除", user, method: :delete,
          data: { confirm: "#{user.name}を削除してよろしいですか？" },
          class: "btn btn-primary" %>
         <% end %>
        </p>
      </div>
      <div class="acd jumbotron">
          <a class="btn btn-lg btn-primary"
              data-toggle="collapse"
              href="#collapse<%= user.id %>"
              role="button"
              aria-controls="collapse">編集</a>
      </div>
          <div class="collapse" id="collapse<%= user.id %>">
              <%= render 'form', { user: user } %>
          </div>
    </div>
    <% end %>
</div>

  <%= will_paginate %>
</div>
