<% unless @user.admin? %>
<% provide(:title, @user.name) %>

<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>
        <%= link_to "⬅︎", user_path(date: @first_day.prev_month), class: "btn btn-default" %>
        <%= l(@first_day, format: :middle) %> 時間管理表
        <%= link_to "➡︎︎", user_path(date: @first_day.next_month), class: "btn btn-default" %>
      </td>
      
      <td>
        指定勤務開始時間:      <%= format_basic_info(@user.designated_work_start_time) %><br/>
        指定勤務終了時間:      <%= format_basic_info(@user.designated_work_end_time) %>
      </td>
      <td colspan="3">基本時間 <%= format_basic_info(@user.basic_work_time) %></td>
      <td>          初日:      <%= l(@first_day, format: :short) %></td>
    </tr>
    
    <tr>
      <td>所属：    <%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>氏名：    <%= @user.name %></td>
      <td>コード</td>
      <td></td>
      <td>出勤日数  <%= @worked_sum %>日</td>
      <td>締め:     <%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<!--上長へのお知らせ-->
<div> 
  <% if current_user.superior? %>
    <div class= alert_msg>
      <div>【所属長承認申請のお知らせ】</div>
      <div>【勤怠変更申請のお知らせ】
        <% if @approval_edit_sum > 0 %>
          <%= link_to ": #{@approval_edit_sum}件の通知があります。", user_approval_edit_month_path(@user), remote:true, class: "danger" %> 
        <% end %>
      </div>
      <div>【残業申請のお知らせ】</div>
    </div>
  <% end %>
</div>

<!--テーブル上ボタン群-->
<div>
  <tr>
    <td class="pull-left"><%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-md btn-primary btn-attendance"%>
                          <%= link_to "CSV出力", user_path(format: :csv), class: 'btn btn-success' %></td>
    <td colspan="2">      <%= link_to "勤怠修正ログ（承認済み）", "#", class: "btn btn-md btn-primary btn-attendance"%></td>
  </tr>
</div>

<!--勤怠情報テーブル-->
<div>
  <table class="table table-bordered table-condensed" id="table-attendances" >
    <thead>
      <tr>
        <td rowspan="3">残業申請</td>
        <td rowspan="3">日付</td>
        <td rowspan="3">曜日</td>
        <td colspan="8">【実績】</td>
        <td colspan="5">所定外勤務</td>
      </tr>
      <tr>
        <td colspan="3">出社</td>
        <td colspan="3">退社</td>
        <td rowspan="2">在社時間</td>
        <td rowspan="2">備考</td>
        <td colspan="2">終了予定時間</td>
        <td rowspan="2">時間外時間</td>
        <td rowspan="2">業務処理内容</td>
        <td rowspan="2">指示者確認㊞</td>
      </tr>
      <tr>
        <td>時</td>
        <td>分</td>
        <td></td>
        <td>時</td>
        <td>分</td>
        <td></td>
        <td>時</td>
        <td>分</td>
      </tr>
    </thead>
    
    <tbody>
      <!--set_one_monthをdayに対して繰り返す-->
      <% @attendances.each do |day| %>
      <!--土日に色を付ける-->
      <% css_class = 
          case %w{日 月 火 水 木 金 土}[day.worked_on.wday]
          when '土' then 'text-primary'
          when '日' then 'text-danger'
          end
      %>      
        <tr>
          <td><%= link_to "残業申請", attendances_overtime_request_user_path(@user, day), class: "btn btn-primary btn-attendance"%></td>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td class="<%= css_class %>"><%= $days_of_the_week[day.worked_on.wday] %></td>
          <td><%= day.started_at.hour if day.started_at.present? %></td>
          <td><%= day.started_at.floor_to(15.minutes).min if day.started_at.present? %></td>
          <td>
            <!-- もし今日と、出勤日が同じ　　且つ　勤務開始時間がないなら-->
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          <td><%= day.finished_at.hour if day.finished_at.present? %></td>
          <td><%= day.finished_at.floor_to(15.minutes).min if day.finished_at.present? %></td>
          <td></td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
            <!--ヘルパーのworking_timesに引数next_dayを追加(workingtimesはst時間、fn時間、nxのcbを参照する)-->
              <%= @str_times = working_times(day.started_at.floor_to(15.minutes), day.finished_at.floor_to(15.minutes), day.next_day) %>
              <% @total_working_times = @total_working_times.to_f + @str_times.to_f %>
            <% end %>
          </td>
          <td class="text-field"><%= day.note %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><% if day.edit_status == "申請中" %>
                <%= "#{day.application_superior_name} へ勤務変更申請中" %>
              <% else %>
                <%= day.edit_confirmation %>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <tr>
        <td rowspan="2"></td>
        <td colspan="2">累計日数</td>
        <td colspan="6"></td>
        <td>在社時間合計</td>
        <td colspan="5"></td>
        <td rowspan="2">
          <ol>
            <li>所属長承認</li>
            <li>未申請</li>
            <li><%= link_to "      ", "#", class: "btn btn-default btn-attendance"%></li>
            <li><%= link_to "申請", "#", class: "btn btn-primary btn-attendance"%></li>
          </ol>
        </td>
      </tr>
      <tr>
        <td colspan="2"><%= @attendances.count %>日</td>
        <td colspan="6"><%= format_basic_info(@user.designated_work_start_time).to_f * @worked_sum %></td>
        <td><%= format("%.2f", @total_working_times.to_f) %></td>
        <td colspan="5"></td>
      </tr>
    </tfoot>
  </table> 
</div>
<% end %>

モーダルウィンドウ表示
<div id="approval-edit-month" class="modal fade" tabindex="10" role="dialog" aria-hidden="true"></div>
<div id="overtime-request" class="modal fade" tabindex="10" role="dialog" aria-hidden="true"></div>