<% unless @user.admin? %>
<% provide(:title, @user.name) %>

<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>
        <%= link_to "⬅︎", user_path(date: @first_day.prev_month), class: "btn btn-default" %>
        <%= l(@first_day, format: :middle) %> 時間管理表
        <%= link_to "➡︎︎", user_path(date: @first_day.next_month), class: "btn btn-default" %>
      </td>
      
      <td>
        指定勤務開始時間:      <%= l(@user.designated_work_start_time, format: :time) %><br/>
        指定勤務終了時間:      <%= l(@user.designated_work_end_time, format: :time) %>
      </td>
      <td colspan="3">基本時間 <%= format_basic_info(@user.basic_work_time) %></td>
      <td>          初日:      <%= l(@first_day, format: :short) %></td>
    </tr>
    <tr>
      <td>所属：    <%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>氏名：    <%= @user.name %></td>
      <td>コード</td>
      <td></td>
      <td>出勤日数  <%= @worked_sum %>日</td>
      <td>締め:     <%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<!--上長へのお知らせ-->
<div> 
  <% if current_user.superior? %>
    <div class= alert_msg>
      <div>【所属長承認申請のお知らせ】
        <% if @approval_onemonth_sum > 0 %>
          <%= link_to ": #{@approval_onemonth_sum}件の通知があります。", user_approval_month_report_path(@user), class: "danger" %> 
        <% end %>
      </div>
      <div>【勤怠変更申請のお知らせ】
        <% if @approval_edit_sum > 0 %>
          <%= link_to ": #{@approval_edit_sum}件の通知があります。", user_approval_edit_month_path(@user), remote:true, class: "danger" %> 
        <% end %>
      </div>
      <div>【残業申請のお知らせ】
        <% if @approval_overtime_sum > 0 %>
          <%= link_to ": #{@approval_overtime_sum}件の通知があります。", user_approval_overtime_request_path(@user), remote:true, class: "danger" %> 
        <% end %></div>
    </div>
  <% end %>
</div>

<!--テーブル上ボタン群-->
<div>
  <tr>
    <td class="pull-left"><%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-md btn-primary btn-attendance"%>
                          <%= link_to "CSV出力", user_path(format: :csv), class: 'btn btn-success' %></td>
    <td colspan="2">      <%= link_to "勤怠修正ログ（承認済み）", "#", class: "btn btn-md btn-primary btn-attendance"%></td>
  </tr>
</div>

<!--勤怠情報テーブル-->
<div>
  <table class="table table-bordered table-condensed" id="table-attendances" >
    <thead>
      <tr>
        <td rowspan="3">残業申請</td>
        <td rowspan="3">日付</td>
        <td rowspan="3">曜日</td>
        <td colspan="8">【実績】</td>
        <td colspan="5">所定外勤務</td>
      </tr>
      <tr>
        <td colspan="3">出社</td>
        <td colspan="3">退社</td>
        <td rowspan="2">在社時間</td>
        <td rowspan="2">備考</td>
        <td colspan="2">終了予定時間</td>
        <td rowspan="2">時間外時間</td>
        <td rowspan="2">業務処理内容</td>
        <td rowspan="2">指示者確認㊞</td>
      </tr>
      <tr>
        <td>時</td>
        <td>分</td>
        <td></td>
        <td>時</td>
        <td>分</td>
        <td></td>
        <td>時</td>
        <td>分</td>
      </tr>
    </thead>
    
    <tbody>
      <!--set_one_monthをdayに対して繰り返す-->
      <% @attendances.each do |day| %>
      <!--土日に色を付ける-->
      <% css_class = 
          case %w{日 月 火 水 木 金 土}[day.worked_on.wday]
          when '土' then 'text-primary'
          when '日' then 'text-danger'
          end
      %>      
        <tr>
          <td><%= link_to "残業申請", overtime_request_user_attendance_path(@user, day), remote:true, class: "btn btn-primary btn-attendance"%></td>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td class="<%= css_class %>"><%= $days_of_the_week[day.worked_on.wday] %></td>
          <td><%= format_hour(day.started_at) if day.started_at.present? %></td>
          <td><%= format_min(day.started_at) if day.started_at.present? %></td>
          <td>
            <!-- もし今日と、出勤日が同じ　　且つ　勤務開始時間がないなら-->
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          <td><%= format_hour(day.finished_at) if day.finished_at.present? %></td>
          <td><%= format_min(day.finished_at) if day.finished_at.present? %></td>
          <td></td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
            <!--ヘルパーのworking_timesに引数next_dayを追加(workingtimesはst時間、fn時間、nxのcbを参照する)-->
              <%= @str_times = working_times(day.started_at.floor_to(15.minutes), day.finished_at.floor_to(15.minutes), day.next_day) %>
              <% @total_working_times = @total_working_times.to_f + @str_times.to_f %>
            <% end %>
          </td>
          <td class="text-field"><%= day.note %></td>
          <td><%= format_hour(day.overtime_finished_at) if day.overtime_finished_at.present? %></td>
          <td><%= format_min(day.overtime_finished_at) if day.overtime_finished_at.present? %></td>
          <td>
            <% if day.overtime_finished_at.present? && day.finished_at.present? %>
              <%= overtimes_2(day.finished_at.floor_to(15.minutes), @user.designated_work_end_time.floor_to(15.minutes), day.edit_next_day) %>
            <% elsif day.overtime_finished_at.present? && @user.designated_work_end_time.present? %>
              <%= overtimes_1(day.overtime_finished_at.floor_to(15.minutes), @user.designated_work_end_time.floor_to(15.minutes), day.overtime_next_day) %>
            <% elsif day.overtime_finished_at.blank? && day.finished_at.present? %>
              <%= overtimes_2(day.finished_at.floor_to(15.minutes), @user.designated_work_end_time.floor_to(15.minutes), day.edit_next_day) %>
            <% end %>
          </td>
          <td class="text-field"><%= day.overtime_note %></td>
          <td>
            <% if day.edit_status == "申請中" %>
              <%= "#{day.application_superior_name} へ勤務変更申請中" %>
            <% else %>
              <%= day.edit_confirmation %>
            <% end %>
            </br>
            <% if day.overtime_status == "申請中" %>
              <%= "#{day.application_superior_name} へ残業申請中" %>
            <% else %>
              <%= day.overtime_confirmation %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <% %> 
      <div class ="form"
      <tr>
        <td rowspan="2"></td>
        <td colspan="2">累計日数</td>
        <td colspan="6"></td>
        <td>在社時間合計</td>
        <td colspan="5"></td>
        <td rowspan="2">
          <ol>
            <% if @report.approval_month_status == "申請中"%>
              <li><%= "所属長承認　#{@report.application_onemonth_superior_name} へ申請中" %></li>
              <li>
                <%= form_with(model: @report, url: user_report_path(@user, @report), local: true, method: :patch) do |f| %>
                  <%= f.hidden_field :user_id, :value => @user.id %>
                  <%= f.hidden_field :approval_month_status, :value => "申請中" %>
                  <%= f.hidden_field :report_month, :value => @first_day %>
                  <%= f.collection_select :application_onemonth_superior_name, @superiors, :name, :name, {prompt: "選択してください"}, class: "form-control" %>
                  <%= f.submit "再申請 送信", class: "btn btn-block btn-primary" %>
                <% end %>
              </li>
            <% elsif @report.approval_month_status == "承認"%>
              <li><%= "所属長承認済み" %></li>
              <li>
                <%= form_with(model: @report, url: user_report_path(@user, @report), local: true, method: :patch) do |f| %>
                  <%= f.hidden_field :user_id, :value => @user.id %>
                  <%= f.hidden_field :approval_month_status, :value => "申請中" %>
                  <%= f.hidden_field :report_month, :value => @first_day %>
                  <%= f.collection_select :application_onemonth_superior_name, @superiors, :name, :name, {prompt: "選択してください"}, class: "form-control" %>
                  <%= f.submit "再申請 送信", class: "btn btn-block btn-primary" %>
                <% end %>
              </li>
            <% else %>
              <li>所属長承認 未</li>
              <li>
              <%= form_with(model: @report, url: user_report_path(@user, @report), local: true, method: :patch) do |f| %>
                <%= f.hidden_field :user_id, :value => @user.id %>
                <%= f.hidden_field :approval_month_status, :value => "申請中" %>
                <%= f.hidden_field :report_month, :value => @first_day %>
                <%= f.collection_select :application_onemonth_superior_name, @superiors, :name, :name, {prompt: "選択してください"}, class: "form-control" %>
                <%= f.submit "申請送信", class: "btn btn-block btn-primary" %>
              <% end %>
            <% end %>
            </li>
          </ol>
        </td>
      </tr>
      <tr>
        <td colspan="2"><%= @attendances.count %>日</td>
        <td colspan="6"><%= format_basic_info(@user.designated_work_start_time).to_f * @worked_sum %></td>
        <td><%= format("%.2f", @total_working_times.to_f) %></td>
        <td colspan="5"></td>
      </tr>
    </tfoot>
  </table> 
</div>
<% end %>

モーダルウィンドウ表示
<div id="approval-edit-month" class="modal fade" tabindex="10" role="dialog" aria-hidden="true"></div>
<div id="approval-overtime-request" class="modal fade" tabindex="10" role="dialog" aria-hidden="true"></div>
<div id="overtime-request" class="modal fade" tabindex="10" role="dialog" aria-hidden="true"></div>