<% provide(:title, @user.name) %>

<!--勤怠検索-->



<div>
  <h1>勤怠ログ</h1>
  <form class="form-inline" >
    <%= form_with url: @user, method: :get, local: true do |f| %>
      <%= f.date_select :edit_approval_date, {prompt: "--",
                                              selected: @search_date,
                                              use_month_numbers: true,
                                              start_year: (Time.now.year),
                                              end_year: (Time.now.year - 6),
                                              start_month: (Time.now.month),
                                              discard_day:true},
                                              {class: 'form-control  bootstrap-date', style: 'display: inline-block;width: auto;'} %>
      <%= f.submit '検索', class: "btn btn-md btn-primary" %>
      <%= link_to "リセット", attendances_approval_log_user_path(@user), class: "btn btn-md btn-default" %>
    <% end %>
  </form>
</div>


<div>
  <table class="table table-bordered table-condensed" id="table-attendances">
    <thead>
      <tr>
        <td>日付</td>
        <td>曜日</td>
        <td>変更前出社時間</td>
        <td>変更前退社時間</td>
        <td>変更後出社時間</td>
        <td>変更後退社時間</td>
        <td>指示者</td>
        <td>承認日️</td>
      </tr>
    </thead>
  
    <tbody>
      <% @attendances.each do |attendance| %>
      
        <%  css_class = 
            case %w{日 月 火 水 木 金 土}[attendance.worked_on.wday]
            when '土' then 'text-primary'
            when '日' then 'text-danger'
            end
        %>      
        <tr>
          <td><%= l(attendance.worked_on) %></td>
          <td class="<%= css_class %>"><%= $days_of_the_week[attendance.worked_on.wday] %></td>
          <% if attendance.before_started_at.nil? && attendance.before_finished_at.nil? %>
            <td></td>
            <td></td>
          <% else %>
            <td><%= l(attendance.before_started_at, format: :time) %></td>
            <td><%= l(attendance.before_finished_at, format: :time) %></td>
          <% end %>
          <td><%= l(attendance.started_at, format: :time) %></td>
          <td><%= l(attendance.finished_at, format: :time) %></td>
          <td><%= attendance.application_superior_name %></td>
          <td><%= l(attendance.edit_approval_date) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
