<% provide(:title, @user.name) %>

<div>
  <table class="table table-bordered table-condensed" id="table-attendances" >
    <thead>
      <tr>
        <td rowspan="3">日付</td>
        <td rowspan="3">曜日</td>
        <td colspan="4">変更前</td>
        <td colspan="4">変更後</td>
        <td rowspan="3">備考</td>
        <td rowspan="3">指示者確認㊞</td>
        <td rowspan="3">変更</td>
        <td rowspan="3">勤怠を確認</td>
      </tr>
      <tr>
        <td colspan="2">出社</td>
        <td colspan="2">退社</td>
        <td colspan="2">出社</td>
        <td colspan="2">退社</td>
      </tr>
      <tr>
        <td>時</td>
        <td>分</td>
        <td>時</td>
        <td>分</td>
        <td>時</td>
        <td>分</td>
        <td>時</td>
        <td>分</td>
      </tr>
    </thead>
    
    <tbody>
      <% @attendances.each do |day| %>
      <% 
        css_class = 
        case %w{日 月 火 水 木 金 土}[day.worked_on.wday]
        when '土'
          'text-primary'
        when '日'
          'text-danger'
        end
      %>      
        <tr>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td class="<%= css_class %>"><%= $days_of_the_week[day.worked_on.wday] %></td>
          <td><%= day.started_at.hour if day.started_at.present? %></td>
          <td><%= day.started_at.floor_to(15.minutes).min if day.started_at.present? %></td>
          <td><%= day.finished_at.hour if day.finished_at.present? %></td>
          <td><%= day.finished_at.floor_to(15.minutes).min if day.finished_at.present? %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= day.note %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>