<% provide(:title, @user.name) %>

<!--@userのフォーム-->

<%= form_with(model: @user, url: attendances_update_one_month_user_path(date: @first_day), local: true, method: :patch) do |f| %>

  <div>
  <h1>勤怠編集</h1>
    <table class="table table-bordered table-condensed" id="table-attendances">
      <thead>
        <tr>
          <td>日付</td>
          <td>曜日</td>
          <td>出社</td>
          <td>退社</td>
          <td>翌日</td>
          <td>在社時間</td>
          <td>備考</td>
          <td>指示者確認㊞️</td>
        </tr>
      </thead>
      
      <tbody>
<!--@attendancesをdayとして取り出して繰り返す-->
        <% @attendances.each do |day| %>
<!--attendanceのフォーム-->
          <%= f.fields_for "attendances[]", day do |attendance| %>
          <%  css_class = 
              case %w{日 月 火 水 木 金 土}[day.worked_on.wday]
              when '土' then 'text-primary'
              when '日' then 'text-danger'
              end
          %>      
            <tr>
              <td><%= l(day.worked_on, format: :short) %></td>
              <td class="<%= css_class %>"><%= $days_of_the_week[day.worked_on.wday] %></td>
              <% if !current_user.admin? && (Date.current < day.worked_on) %>
                <td><%= attendance.time_field :edit_started_at, readonly: true, class: "form-control" %></td>
                <td><%= attendance.time_field :edit_finished_at, readonly: true, class: "form-control" %></td>
                <td><%= attendance.check_box :edit_next_day, {disabled: true} %></td>
                <td>
                  <% if day.started_at.present? && day.finished_at.present? %>
            <!--ヘルパーのworking_timesに引数next_dayを追加(workingtimesはst時間、fn時間、nxのcbを参照する)-->
                    <%= @str_times = working_times(day.started_at.floor_to(15.minutes), day.finished_at.floor_to(15.minutes), day.next_day) %>
                    <% @total_working_times = @total_working_times.to_f + @str_times.to_f %>
                  <% end %>
                </td>
                <td><%= attendance.text_field :note, readonly:true, class: "form-control" %></td>
                <td><%= attendance.collection_select :application_superior_name, @superiors, :name, :name, {include_blank: true, selected: nil}, disabled: true, class: "form-control" %></td>
              <% else %>
                <td><%= attendance.time_field :edit_started_at, class: "form-control" %></td>
                <td><%= attendance.time_field :edit_finished_at, class: "form-control" %></td> 
                <td><%= attendance.check_box :edit_next_day %></td>
                <td></td>
                <td><%= attendance.text_field :note, placeholder: "入力必須", class: "form-control" %></td>
                <td><%= attendance.collection_select :application_superior_name, @superiors, :name, :name, {include_blank: true, selected: nil}, class: "form-control" %></td>
                    <%= attendance.hidden_field :application_superior, :value => @user.id %>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="center">
    <%= f.submit "編集を保存する", class: "btn btn-lg btn-primary" %>
    <%= link_to "キャンセル", user_path(date: @first_day), class: "btn btn-lg btn-default" %>
  </div>
<% end %>